
@font-face {
    font-family: 'Icons';
    src: url('assets/fonts/Icons.woff2') format('woff');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-100.woff2') format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-200.woff2') format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-400.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-600.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-700.woff2') format('woff2');
    font-weight: 700;
}

/* __reset__ */

body,p,a,ul,li{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
.main-wrap{
    width: 100%;
    height: auto;
    font-family: 'Segoe UI';
}
.nav-container{
    /* height: 53px; */
    width: 100%;
    display: flex;
    padding: 2px 0px;
    position: relative;
    align-items: center;
}
.menu-container{
    width: 48px;
    height: 32px;
    margin: 1px;
    display: block;
    font-family: 'Icons';
    font-size: 20px;
    line-height: 15px;
    padding: 8px 0px 8px 0px;
    text-align: center;
    cursor: pointer;
}
 .menu-container i{
    margin-top: 8px;
 }
 .MScontainer{
    display: flex;
    flex: 1 0 auto;
    float: right;
    margin-top: 2px;
 }
 .searchlogo-container{
    height: fit-content;
    display: flex;
    /* flex: 0 1 auto; */
    text-align: center;
    overflow-x: visible;
    padding: 8px 8px 8px 0px;
    margin: 5px 10px 1px 9px;
    cursor: pointer;
 }
 .logo-container{
    display: flex;
    flex: 1;
    margin: -1px 0px 1px 8px;
    padding: 7px 4px 10px 4px;
    cursor: pointer;
    align-items: flex-start;
    /* justify-content: flex-start; */
 }
 .logo-container img{
    width: 108px;
    height: auto;
 }
 .line{
    height: 1px;
    width: auto;
    display: block;
    position: relative;
    background-color: #dddddd;
    margin-top: -1px;
 }
 .drop-down-container{
    height: 34px;
    display: flex;
    position: relative;
    align-items: center;
 }
 .drop-down-container button{
    /* height: 100%; */
    /* height: 33px; */
    display: flex !important;
    gap: 10px;
    position: relative;
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    align-items: center;
    white-space: nowrap;
    border: none;
    padding: 0px 16px;
    cursor: pointer;
 }
 /* .drop-down-container button::after{
    content: "";
    font-family: 'Icons';
    font-size: 12px;
    font-weight: 700;
    padding-left: 6px;
    position: relative;
    top: 3px;
    box-sizing: border-box;
    cursor: pointer;
 } */
 .menu{
  width: 20px;
  height: 20px;
  line-height: 15px;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  text-wrap-mode: nowrap;
  box-sizing: border-box;
}
 .drop-down-container button i{
    display: flex;
    height: 12px;
    font-size: 13.01px;
    font-weight: 500;
    letter-spacing: -.03em;
    margin: 1px 0px 0px 1px;
 }
 .main-container{
  top: 0;
    width: 100%;
    height: auto;
    position: relative;
 }
 .main-intro-container{
    padding-bottom: 56px;
    background-color: #f4fafd;

 }
 .intro-container{
    width: 100%;
    /* white-space: now; */
 }
 .main-image-container{
    display: block;
    position: relative;
    box-sizing: border-box;
 }
 .image-container{
    display: block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
 }
 .image-container img{
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
   aspect-ratio: inherit;
   white-space: nowrap;
 }
 .intro-content-container{
   top: 0;
   width: 100%;
   height: auto;
   display: block;
   padding: 0px 16px;
   box-sizing: border-box;
   background-color: #f4fafd;
 }
 .content-container{
   width: 100%;
   margin-top: 2rem;
 }
 .intro-container{
   width: 100%;
   display: block;
   box-sizing: border-box;
 }
 .intro-highlight{
   display: block;
   font-family: 'Segoe UI';
   font-size: 12px;
   font-weight: 600;
   color: #17253d;
   letter-spacing: 0.08em;
   margin-bottom: 12px;
 }
 .intro-heading h1{
   margin: 0;
   color: #0e1726;
   font-size: 2rem;
   font-weight: 600;
   line-height: 2.5rem;
   letter-spacing: -0.05em;
   padding: 0px;
 }
 .intro-paragraph{
   margin-top: 16px;
   padding-right: 16px;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.75rem;
   letter-spacing: -0.03em;
   color: #17253D;
 }
 .intro-button-container{
   margin-top: 1.5rem;
   box-sizing: border-box;
   margin-bottom: 40px;
 }
 .intro-button{
   display: grid;
   gap: 8px;
   box-sizing: border-box;
 }
 .intro-button .btn_text{
   font-size: 15px;
   font-weight: 600;
   line-height: 1.375rem;
   letter-spacing: -0.02em;
   padding: 12px;
   border-radius: 8px;
   text-align: center;
   box-sizing: border-box;
 }
 .intro-button #btn1{
   background-color: #0078D4;
   color: #ffffff;
   box-sizing: border-box;
   padding: 14px 12px 16px 12px;
   cursor: pointer;

 }
 .intro-button #btn2{
   color: #004275;
   border: 2px solid #222222;
   padding-bottom: 14px;
   cursor: pointer;
 }
 .site-content-container{
   width: 100%;
   height: auto;
   box-sizing: border-box;
 }
 .featured-news-contianer{
   width: 100%;
   display: block;
 }
 .featured-news{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 4px;
   padding: 14px 12px 14px 12px;
 }
 .featured-news .featured-text{
   display: flex;
   width: 100%;
   flex: 1;
   font-family: 'Segoe UI';
   font-size: 14px;
   font-weight: 600;
   line-height: 1.25rem;
   letter-spacing: -0.035em;
   color: #004275;
   cursor: pointer;
   text-align: left;
 }
 .featured-news .featured-drop{
   display: flex;
   color: #0067b8;
   box-sizing: border-box;
   margin-top: -4px;
   cursor: pointer;
 }
 .featured-drop::before{
   content: "";
   font-family: 'Icons';
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   letter-spacing: -.03em;
 }
 .underline{
   height: 4px;
   width: 100%;
   background-color: #004275;
 }
 .site-discover-container{
   width: 100%;
   height: auto;
   box-sizing: border-box;
 }
 .site-discover{
   display: block;
   background-image: url("assets/images/discover-bg1.avif");
   background-repeat: no-repeat;
   background-size: cover;
   box-sizing: border-box;
 }
 .site-component-container{
   width: 100%;
   display: block;
   padding: 56px 0px;
   background-color: transparent;
   box-sizing: border-box;
 }
 .component-container{
   width: 100%;
   display: block;
   position: relative;
   padding: 0px 16px;
   box-sizing: border-box;
 }
 .component-head-container{
   width: 100%;
   display: grid;
   position: relative;
   /* padding: 0px 4px; */
   box-sizing: border-box;
 }
 .component-highlight{
   display: block;
   color: #17253d;
   font-size: 12px;
   font-weight: 600;
   line-height: 1rem;
   letter-spacing: .08em;
   margin-bottom: 12px;
 }
 .component-head{
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.05em;
}
.component-card-container{
  display: grid;
  gap: 10px;
  padding: 0px 4px;
  margin-top: 32px;
  box-sizing: border-box;
}
.card-container{
  width: 100%;
  display: block;
  background-color: #fefefe;
  border-radius: 1rem;
  /* box-shadow: 0 0 0.125rem rgb(0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0.14); */
  box-sizing: border-box;
}
.card-image-container{
  width: 100%;
  display: block;
  padding: 8px 8px 0px;
  box-sizing: border-box;
}
.card-image-container img{
  width: 100%;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.card-content{
  width: 100%;
  display: grid;
  /* gap: 4px; */
  padding: 16px;
  box-sizing: border-box;
}
.card-des-container{
  width: 100%;
  display: grid;
  gap: 0.75rem;
}
.card-des-container .card-head{
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #0e1725;
  margin-top: 4px;
}
.card-des-container .card-text{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #17253d;
}
.site-link-container{
  width: 100%;
  display: block;
  margin-top: 32px;
  box-sizing: border-box;
}
.link-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.link-container .site-button{
  display: flex;
  align-items: center;
  background-color: #0078D4;
  border-radius: 8px;
  padding: 0.6rem;
}
.link-container .site-button::after{
  content: "";
  font-family: 'Icons';
  line-height: 1;
  font-weight: 400;
  color: #fefefe;
}
.link-container .site-link{
  display: block;
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.036em;
  text-size-adjust: 100%;
  box-sizing: border-box;
  padding-bottom: 2px;
}
.site-find-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #f4fafd;
}
.site-find-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #f4fafd;
}
.solution-content-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
}
#solution-card{
  margin-top: 24px;
}
.pill-bar-container{
  width: 100%;
  position: relative;
  text-size-adjust: 100%;
  overflow: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
}
.pill-bar-container::-webkit-scrollbar{
  display: none;
}
.pill-bar{
  display: flex;
  gap: 8px;
  white-space: nowrap;
}
.pill-bar .pill-btn{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -.02em;
  font-family: 'Segoe UI';
  padding: 8px 16px 10px;
  border-radius: 20px;
  border: none;
  flex: 0 0 auto;
  color: #004275;
  background-color: #0055971A;
}
.pill-bar #pillbtn{
  background-color: #005597;
  color: #ffffff;
}
.drop-up-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #0e1726;
  padding: 24px 0px;
}
.drop-up-container .up-button::before{
  content: "";
  font-family: 'Icons';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -.03em;
  /* transform: rotate(-180deg); */
}




