
@font-face {
    font-family: 'Icons';
    src: url('assets/fonts/Icons.woff2') format('woff');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-100.woff2') format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-200.woff2') format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-400.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-600.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/Segoe-700.woff2') format('woff2');
    font-weight: 700;
}

/* __reset__ */

body,p,a,ul,li{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
.main-wrap{
    width: 100%;
    height: auto;
    font-family: 'Segoe UI';
}
.nav-container{
    /* height: 48px; */
    width: 100%;
    display: flex;
    padding: 2px 0px;
    position: relative;
    /* border-bottom: 1px solid #dddddd; */
    align-items: center;
}
.menu-container{
    width: 48px;
    height: 32px;
    margin: 1px;
    display: block;
    font-family: 'Icons';
    font-size: 20px;
    line-height: 15px;
    padding: 8px 0px 8px 0px;
    text-align: center;
    cursor: pointer;
}
 .menu-container i{
    margin-top: 8px;
 }
 .MScontainer{
    display: flex;
    flex: 1 0 auto;
    float: right;
    margin-top: 2px;
 }
 .searchlogo-container{
    height: fit-content;
    display: flex;
    /* flex: 0 1 auto; */
    text-align: center;
    overflow-x: visible;
    padding: 4px 8px 8px 0px;
    margin: 2px 10px 1px 9px;
    cursor: pointer;
 }
 .logo-container{
    height: auto;
    display: block;
    /* flex: 1; */
    position: absolute;
    left: calc(50% - 60px);
    margin: -1px 0px 1px 0px;
    padding: 0px 4px 10px 5px;
    cursor: pointer;
 }
 .logo-container img{
    width: 108px;
    height: auto;
 }
 .line{
    height: 1px;
    width: auto;
    display: block;
    position: relative;
    background-color: #dddddd;
    margin-top: -1px;
 }
 .drop-down-container{
    height: 33px;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
 }
.drop-down-container button{
    /* height: 100%; */
    /* height: 33px; */
    display: flex !important;
    gap: 10px;
    position: relative;
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    align-items: center;
    white-space: nowrap;
    border: none;
    padding: 0px 16px;
    cursor: pointer;
}
/* .drop-down-text::after{
  content: "";
  font-family: 'Icons';
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 10px;
  position: relative;
  top: 3px;
  box-sizing: border-box;
  cursor: pointer;
} */
 .menu{
  width: 20px;
  height: 20px;
  line-height: 15px;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  text-wrap-mode: nowrap;
  box-sizing: border-box;
}
.drop-down-container button i{
  display: flex;
  height: 12px;
  font-size: 13.01px;
  font-weight: 500;
  letter-spacing: -.03em;
  margin: 1px 0px 0px 1px;
}
/* Section-Main */
.main-container{
  top: 0;
  width: 100%;
  height: auto;
  position: relative;
}
.main-intro-container{
  padding-bottom: 56px;
  background-color: #f4fafd;
}
.intro-container{
  width: 100%;
}
.main-image-container{
  display: block;
  position: relative;
  box-sizing: border-box;
}
.image-container{
  display: block;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}
.image-container img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: initial;
  white-space: nowrap;
}
.intro-content-container{
  top: 0;
  width: 100%;
  height: auto;
  display: block;
  padding: 0px 16px;
  box-sizing: border-box;
  background-color: #f4fafd;
}
.content-container{
  width: 100%;
  margin-top: 2rem;
}
.intro-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.intro-highlight{
  display: block;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: 600;
  color: #17253d;
  letter-spacing: 0.08em;
  margin-bottom: 12px;
}
.intro-heading h1{
  margin: 0;
  color: #0e1726;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
  padding: 0px;
}
.intro-paragraph{
  margin-top: 16px;
  padding-right: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.03em;
  color: #17253D;
}
.intro-button-container{
  margin-top: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.intro-button{
  display: grid;
  gap: 8px;
  box-sizing: border-box;
}
.intro-button .btn_text{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}
.intro-button #btn1{
  background-color: #0078D4;
  color: #ffffff;
  box-sizing: border-box;
  padding: 14px 12px 16px 12px;
  cursor: pointer;
}
.intro-button #btn2{
  color: #004275;
  border: 2px solid #222222;
  padding-bottom: 14px;
  cursor: pointer;
}
.site-content-container{
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.featured-news-container{
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}
.featured-news{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  box-sizing: border-box;
  /* box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12); */
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.featured-news .featured-text{
  display: flex;
  width: 100%;
  flex: 1;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.035em;
  color: #004275;
  cursor: pointer;
  text-align: left;
  box-sizing: border-box;
}
.featured-news .featured-drop{
  display: flex;
  color: #0067b8;
  box-sizing: border-box;
  margin-top: -4px;
  cursor: pointer;
}
.featured-drop::before{
  content: "";
  font-family: 'Icons';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -.03em;
}
.underline{
  height: 4px;
  width: 100%;
  background-color: #004275;
}
/* Section-Discover */
.site-discover-container{
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.site-discover{
  display: block;
  background-image: url("assets/images/discover-bg1.avif");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.site-component-container{
  width: 100%;
  display: block;
  padding: 56px 0px;
  background-color: transparent;
  box-sizing: border-box;
}
.component-container{
  width: 100%;
  display: block;
  position: relative;
  padding: 0px 16px;
  box-sizing: border-box;
}
.component-head-container{
  width: 100%;
  display: grid;
  position: relative;
  box-sizing: border-box;
}
.component-highlight{
  display: block;
  color: #17253d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: .08em;
  margin-bottom: 12px;
}
 .component-head{
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.05em;
}
.component-card-container{
  display: grid;
  gap: 0.5rem;
  padding: 0px 4px;
  margin-top: 32px;
  box-sizing: border-box;
}
.card-container{
  width: 100%;
  display: block;
  background-color: #fefefe;
  border-radius: 1rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
}
.card-image-container{
  width: 100%;
  display: block;
  padding: 8px 8px 0px;
  box-sizing: border-box;
}
.card-image-container img{
  width: 100%;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 0.5rem;
  aspect-ratio: 2.33333;
}
.card-content{
  width: 100%;
  display: grid;
  padding: 16px;
  box-sizing: border-box;
}
.card-des-container{
  width: 100%;
  display: grid;
  gap: 0.75rem;
}
.card-des-container .card-head{
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #0e1725;
  margin-top: 4px;
}
.card-des-container .card-text{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #17253d;
}
.site-link-container{
  width: 100%;
  display: block;
  margin-top: 32px;
  box-sizing: border-box;
}
.link-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.link-container .site-button{
  display: flex;
  align-items: center;
  background-color: #0078D4;
  font-size: .9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  border-radius: 8px;
  border: 2px solid #0078D4;
  padding: 0.5rem;
}
/* letter spacing */
.link-container .site-button::after{
  content: "";
  font-family: 'Icons';
  line-height: 1;
  font-weight: 400;
  color: #fefefe;
}
.link-container .site-link{
  display: block;
  color: #004275;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.48px;
  text-size-adjust: 100%;
  box-sizing: border-box;
  padding-bottom: 2px;
}
/* Section-Find */

.site-find-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #f4fafd;
}
.solution-content-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
}
#solution-card{
  margin-top: 24px;
  gap: 24px;
}
.pill-bar-container{
  width: 100%;
  position: relative;
  text-size-adjust: 100%;
  overflow: scroll;
  overflow-y: hidden;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-sizing: border-box;
}
.pill-bar-container::-webkit-scrollbar{
  display: none;
}
.pill-bar{
  display: flex;
  gap: 8px;
  white-space: nowrap;
}
.pill-bar .pill-btn{
  position: relative;
  font-size: .9375rem;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -.02em;
  font-family: 'Segoe UI';
  padding: 9px 16px;
  border-radius: 20px;
  border: none;
  flex: 0 0 auto;
  color: #004275;
  background-color: #0055971A;
}
.pill-bar #pillbtn{
  background-color: #005597;
  color: #ffffff;
}
.pill-bar-nxtbtn{
  right: 16px;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  border: 2px solid #004275;
  border-radius: 50%;
  background: linear-gradient(270deg, #f4fafd,#f4fafd,#f4fafd,#f4fafd 60%, rgba(242, 242, 242, 0) 100%);
  text-align: center;
  box-sizing: border-box;
}
.pill-bar-nxtbtn span::after{
  content: "";
  display: block;
  margin-top: 8px;
  color: #004275;
  font-weight: 400;
  font-size: 1.125rem;
  font-family: 'Icons';
  
}
.solution-drop-down-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
.drop-up-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  font-weight: 600;
  line-height: 1.3746rem;
  border-top: 1px solid #bdc5d2;
  color: #0e1726;
  padding: 24px 0px;
}
#dp-up-cr{
  padding-top: 0px;
  border: none;
}
#dp-up-cr .up-button{
  transform: rotate(-180deg);
}
#dp-up-cr1{
  border-bottom: 1px solid #bdc5d2;
}
.drop-up-container .up-text h3{
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #0e1726;
  margin: 0px;
}
.drop-up-container .up-button{
  margin-top: auto;
}
.drop-up-container .up-button::before{
  content: "";
  font-family: 'Icons';
  font-size: 1.031rem;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: -.03em;
  cursor: pointer;
}
.solution-text-video-container{
  width: 100%;
  display: flex;
  position: relative;
  flex-flow: column;
  gap: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}
.solution-text{
  width: 100%;
  color: #17253d;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  cursor: pointer;
}
.solution-video{
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
#solution-site-link{
  margin: 0px;
}
.video-top-link{
  color: #004275;
  margin-bottom: 23px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}
.video-top-link span{
  color: #004275;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25rem;
  text-decoration: underline solid rgb(0, 66, 117);
  text-underline-offset: 0.125rem;
  letter-spacing: -0.48px;
  padding: 0px 0px 3px;
  margin-top: 3px;
  white-space: nowrap;
}
.video-container{
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.video-container .video-img img{
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;
}
.video-img .video-icon{
  top: 50%;
  left: 50%;
  display: flex;
  position: absolute;
  padding: 13px 14px 12px;
  font-weight: 600;
  font-size: .9375rem;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
  align-items: center;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  justify-content: center;
  box-sizing: border-box;
  background-color: #0078D4;
  border: 2px solid transparent;
}
.video-img .video-icon span{
  line-height: 1;
  margin-top: 1px;
}
.video-img .video-icon span::before{
  content: "";
  font-family: 'Icons';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
/* Section-Product */

.site-products-container{
  width: 100%;
  background-color: #f4fafd;
}
.product-content{
  width: 100%;
  margin-top: 32px;
}
.product-content .pill-bar-container{
  position: relative;
  padding-left: 4px;
}
.product-content .pill-bar-nxtbtn{
  top: 124px;
}
#products-card{
  gap: 0.75rem;
}
#services-card{
  width: 100%;
  background-image: url(assets/images/products-bg1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
#products-card-content{
  gap: 4px;
}
.blank-space{
  height: 220px;
}
.drop-up-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #0e1726;
  padding-bottom: 24px;
}
.crad-text-button{
  display: grid;
  gap: 0.75rem;
}
.crad-text-button .intro-button #btn1{
  padding: 10px 12px 12px;
}
.badge-container{
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6f2fb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  /* text-size-adjust: 100%; */
}
.badge-container img{
  width: 24px;
  height: 24px;
}
#services-head{
  margin: 0px;
}
#service-site-link{
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}
#products-site-link{
  padding: 0px 4px;
}
/* Section-Gartner */

.site-gartner-container{
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.site-gartner{
  display: block;
  background-image: url(assets/images/Gartner-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.site-gartner .site-component-container{
  padding: 57px 0px;
}
#gartner-card .card-image-container{
  padding: 8px 9px 0px;
}
#gartner-card img{
  aspect-ratio: 1.33333;
}
#gartner-card .card-content{
  padding: 16px 13px;
}
#gartner-des-container{
  gap: 32px;
}
.gartner-des{
  display: grid;
  gap: 12px;
}
.gartner-des .component-head{
  margin-top: 4px;
}
/* Section-Resources */

.site-resources-container{
  width: 100%;
  display: block;
  position: relative;
  background-color: #f4fafd;
}
.site-resources-container .site-component-container{
  padding: 48px 0px 0px;
}
#resources-container .component-head-container{
  width: 100%;
  align-items: center;
  justify-items: center;
}
#resources-container .component-head{
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: -0.05em;
  text-align: center;
}
.site-resource-content{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  object-fit: cover;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
.background-container{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}
.background-container div{
  width: 100%;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
}
.background-container div img{
  width: 100%;
  height: 100%;
  top: 32px;
  display: block;
  position: absolute;
  object-fit: cover;
  box-sizing: border-box;
}

.resource-nav-container{
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  margin-top: 8px;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
.resource-nav-container::-webkit-scrollbar{
  display: none;
}
.resource-nav{
  display: flex;
  padding: 8px 0px 8px 8px;
  margin-left: -2px;
  text-wrap-mode: nowrap;
}
.nav-tab{
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 0.125rem rgb(0, 0, 0, 0.12), 0 0.063rem 0.125rem rgb(0, 0, 0, 0.14) ;
  padding: 12px 16px 16px;
  margin-right: 1px;
  box-sizing: border-box;
  cursor: pointer;
}
#navtab{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.nav-tab span{
  position: relative;
  width: 188.33px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.indicator{
  bottom: 0;
  height: 4px;
  width: 220.328px;
  display: block;
  position: absolute;
  border-bottom-left-radius: 8px;
  background-color: #004275;
  box-sizing: border-box;
}
.arrow-button{
  width: 100%;
  display: flex;
  gap: 12px;
  margin-top: 26px;
  margin-left: -4px;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
.arrow-button div{
  height: 40px;
  width: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: 'Icons';
  font-weight: 600;
  font-size: 1.125rem;
  color: #004275;
  border: 2px solid #004275;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
.left-arrow{
  opacity: .2;
  cursor: default;
}
.left-arrow::after{
  content: "";
}
.right-arrow::after{
  content: "";
}
.resource-optimize-container{
  display: block;
  padding: 22px 0px 48px;
}
.optimize-container{
  display: grid;
  gap: 12px;
  align-items: center;
  justify-items: center;
}
.optimize-container .card-head{
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
}
.optimize-container .link-container{
  justify-content: center;
}
#resource-card{
  margin-top: 24px;
  box-shadow: none;
  background: rgb(255, 255, 255, 0.1);
}
#resource-card .card-image-container{
  padding: 17px 17px;
}
#resource-card img{
  aspect-ratio: 1.77778;
}

/* Section-Global */
.site-global-container{
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.global-container{
  width: 100%;
  display: block;
  background-image: url(assets/images/Global-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  box-sizing: border-box;
}
.global-container .intro-content{
  padding: 0px 16px;
  margin: 0;
}
#glob-intro .intro-heading h1{
  color: #f4fafd;
  text-align: center;
}
#glob-intro .intro-paragraph{
  padding: 0;
  color: #dceef8;
  text-align: center;
}
.glob-des{
  padding: 0px 16px;
}
#glob-intro .intro-button-container{
  margin-bottom: 24px;
}
#glob-intro .intro-button #btn2{
  padding: 15px 13px;
  border: none;
  background-color: #B3DAF0;
}
#glob-intro .intro-button #btn2 span{
  color: #0e1726;
  padding-bottom: 2px;
}
/* Section-Customer */
.site-customer-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.customer-container{
  width: 100%;
  display: block;
  background-image: url(assets/images/customer-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
/* one container*/
.customer-container .site-component-container{
  height: fit-content;
  padding: 48px 0px 45px;
}
#customer-card{
  gap: 24px;
  margin-top: 24px;
  padding: 3px 7px;
}
.customer-image{
  height: 100%;
  width: 100%;
  display: flex;
  aspect-ratio: initial;
  /* flex-flow: row; */
  position: relative;
  box-sizing: border-box;
}
.customer-image .card-image-container{
  height: 100%;
  /* display: flex; */
  object-fit: cover;
  aspect-ratio: initial;
  box-sizing: border-box;
}
/* image-heigth-pending */
.customer-image .card-image-container img{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  aspect-ratio: initial;
  box-sizing: border-box;
}
#customer-card .card-content{
  display: grid;
  gap: 24px;
}
.customer-intro{
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.hp-emp{
  display: flex;
  justify-content: flex-start;
}
.hp-emp img{
  height: 73px;
  width: 172px;
  border: 1px solid rgb(189, 197, 210);
  border-radius: 0.5rem;
}

.customer-intro .card-head{
  margin: 0;
  color: #17253D;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -.05em;
}
.customer-content{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  gap: 24px;
  box-sizing: border-box;
}
.customer-content .card-des-container{
  height: 100%;
  display: grid;
  gap: 8px;
}
.customer-content .card-head{
  font-size: 1rem;
  text-align: left;
  margin-top: 0px;
}
/* image-height-pending */
.card-links{
  display: flex;
  gap: 0.75rem;
  flex-flow: column;
  justify-content: flex-start;
}
.git-dev-container{
  display: flex;
  flex-basis: auto;
  gap: 0.75rem;
  flex-flow: row;
}
.card-links #cardlinks{
  height: 26px;
  display: flex;
  gap: 0.5rem;
  flex-basis: auto;
  font-size: 1.25rem;
  align-items: center;
  text-wrap-mode: nowrap;
}
.card-links #cardlinks img{
  height: 20px;
  width: 16px;
}
.card-links #cardlinks div{
  height: 20px;
}
.card-links #cardlinks div img{
  margin-top: 1px;
}
.card-links #cardlinks a{
  color: #0067b8;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: -0.48px;
  text-decoration: underline #0067b8;
}
#customer-card .arrow-button{
  /* margin-top: 19px; */
  margin-top: 35px;
  gap: 8px;
  margin-left: -3px;
}
#customer-card .arrow-button div{
  height: 50px;
  width: 50px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
}
.card-links #cardlinks a{
  color: #0067b8;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  align-items: center;
  text-wrap-mode: nowrap;
}
#customer-card .left-arrow::after{
  margin-left: -2px;
}
#customer-card .right-arrow::after{
  margin-left: 2px;
}
#customer-card .link-container{
  margin-left: -3px;
}

/* Section-NextStep */

.next-step-container{
  width: 100%;
  display: block;
  background-image: url(assets/images/next-step-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
#next-step-container .component-head-container{
  width: 100%;
  position: relative;
  align-items: center;
  justify-items: center;
}
#next-step-container .component-head{
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: -0.05em;
  text-align: center;
}
#next-step-card{
  padding: 0px 8px;
  margin-top: 24px;
}
#next-step-card .card-head{
  margin-top: 0;
}
/* Section-Mobile */

.Azure-mobile-app-container{
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}
.mobile-app-container{
  width: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}
.app-text-image-container{
  width: 100%;
  height: fit-content;
  padding: 8px 12px;
  box-sizing: border-box;
}
.app-text-container{
  width: fit-content;
  display: flex;
  flex-flow: row;
  gap: 8px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.3px;
  border: 2px;
  border-radius: 3px;
  padding: 12px 12px 9px;
  margin: 0px 0px 8px -8px;
  background-color: #e6e6e6;
  box-sizing: border-box;
} 
.app-icon img{
  margin: 3px 0 0 2px;
}
.app-text{
  margin-top: -4px;
  margin-right: 1px;
}
.app-image-container{
  display: flex;
  flex-flow: row;
  gap: 24px;
  margin-left: 12px;
  margin-bottom: 4px;
  padding-top: 2px;  
}
.app-image-container div img{
  height: 24px;
  width: 24px;
}
.app-image-container .appim{
  margin-left: -1px;
}
/* Footer-content */

footer{
  width: 100%;
  height: auto;
  color: #616161;
  padding-bottom: 62px;
  background-color: #f7f7f7;
}
.footer-content-container{
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.footer-content{
  width: 100%;
  display: block;
  padding: 0px 12px;
  box-sizing: border-box;
}
.block-container{
  display: block;
  padding: 0px 12px;
  box-sizing: border-box;
}
.block-head{
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 36px 0px 4px;
  box-sizing: border-box;
}
.block-links li a{
  display: block;
  padding: 8px 0px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #616161;
}
/* Footer-end */

.footer-privacy-container{
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.privacy-container{
  width: 100%;
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  padding: 30px 24px 16px;
  box-sizing: border-box;
}
.language-container{
  width: 100%;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}
.language-container i{
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-right: 10px;
}
.language-container div{
  margin-top: -2px;
}
.choice-container{
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin: 6px 0px 16px;
  padding: 4px 24px 0px 0px ;
}
.choice-container svg{
  margin-left: -4px;
  margin-right: 4px;
}
.health-privacy-container{
  padding: 4px 24px 0px 0px;
}
.footer-end-container{
  display: block;
  margin: 12px 0px 3px;
}
.footer-end-container li{
  /* width: fit-content; */
  display: inline-block;
  padding: 6px 10px 0px 0px;
}
.footer-end-container li a{
  color: #616161;
}

/* .card-links #cardlinks a{
  color: #0067b8;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  align-items: center;
  text-wrap-mode: nowrap;
} */
